@import "tailwindcss";

@theme {
    --spacing-horizontal: 7rem;
    --spacing-vertical-lg: 3rem;
    --spacing-vertical-md: 2rem;
    --spacing-vertical-sm: 1rem;




    --color-shifter: #008CC2;
    --color-red: #FF6F61;
    --color-dark-blue: #002E5D;
    --color-deep-green: #2C6B3D;
    --color-gold: #FFB300;
    --color-teal: #009688;
    --color-dark-gray: #404040;
    --color-bright-gray: #DDDDDD;
    --color-gray: #E5E7EBFF;

    --font-montserrat-regular: 'Montserrat', sans-serif;
    --font-montserrat-medium: 'Montserrat', sans-serif;
    --font-montserrat-semibold: 'Montserrat', sans-serif;
    --font-montserrat-bold: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("assets/fonts/Montserrat-Light.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Montserrat-Regular.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/Montserrat-Medium.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("assets/fonts/Montserrat-SemiBold.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/Montserrat-Bold.ttf") format('woff2');
}

:root {
    --color-white: #EEEEEE;
    --color-black: #111111;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
    margin: 0 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #EEE;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*width: 100vw;*/
    place-items: center;
    /*min-width: 320px;*/
    min-height: 100vh;
}
