@import "tailwindcss";

@theme {
    --color-beige: #FAF7F2; /* or F5F1E8, FAF7F2 */
    --color-main: #FAFBFC;
    --color-accent: #F0F7FA;

    --color-shifter: #00719E; /* or 00719E */
    --color-cta: #008CC2;
    --color-warm: #FF8559; /* or E85D04*/
    --color-secondary-warm: #D4A373;

    --color-red: #E63946;
    --color-dark-blue: #002E5D;
    --color-deep-green: #2C6B3D;
    --color-gold: #FFB300;
    --color-teal: #009688;
    
    --color-dark-gray: #666;
    --color-bright-gray: #DDDDDD;
    --color-gray: #E5E7EBFF;
    --color-black-text: #1A1A1A;
    --color-white-text: #F8F8F8;


    --shadow-up-sm: 0 -1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-up: 0 -1px 3px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-up-md: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -2px rgba(0, 0, 0, 0.06);
    --shadow-up-lg: 0 -10px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -4px rgba(0, 0, 0, 0.05);
    --shadow-up-xl: 0 -20px 25px -5px rgba(0, 0, 0, 0.1), 0 -10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadow-up-2xl: 0 -25px 50px -12px rgba(0, 0, 0, 0.25);


    --font-montserrat-regular: 'Montserrat', sans-serif;
    --font-montserrat-medium: 'Montserrat', sans-serif;
    --font-montserrat-semibold: 'Montserrat', sans-serif;
    --font-montserrat-bold: 'Montserrat', sans-serif;


    /* mobiles */
    --spacing-horizontal: 1rem;
    --spacing-vertical: 3rem;
    --spacing-nav-top: 7rem;
    --spacing-between: 2rem;
}

@media (min-width: 640px) {         /* sm breakpoint (large phones in landscape & small tablets) */
    :root {
        --spacing-horizontal: 2rem;
        --spacing-vertical: 2rem;
        --spacing-nav-top: 7rem;
        --spacing-between: 3rem;
    }
}

@media (min-width: 768px) {     /* md breakpoint (tablets) */
    :root {
        --spacing-horizontal: 3rem;
        --spacing-vertical: 2rem;
        --spacing-nav-top: 7rem;
        --spacing-between: 4rem;
    }
}

@media (min-width: 1024px) {    /* lg breakpoint (tablets in landscape & small laptops) */
    :root {
        --spacing-horizontal: 4rem;
        --spacing-vertical: 3rem;
        --spacing-nav-top: 8rem;
        --spacing-between: 5rem;
    }
}

@media (min-width: 1280px) {    /* xl breakpoint (laptops & desktops) */
    :root {
        --spacing-horizontal: 7rem;
        --spacing-vertical: 4rem;
        --spacing-nav-top: 12rem;
        --spacing-between: 5rem;
    }
}

@media (min-width: 1536px) {    /* xxl breakpoint (large desktops) */
    :root {
        --spacing-horizontal: 12rem;
        --spacing-vertical: 5rem;
        --spacing-nav-top: 16rem;
        --spacing-between: 6rem;
    }
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("assets/fonts/Montserrat-Light.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Montserrat-Regular.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/Montserrat-Medium.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("assets/fonts/Montserrat-SemiBold.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/Montserrat-Bold.ttf") format('woff2');
}

:root {
    --color-white: #F8F8F8;
    --color-black: #202024;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    width: 100%;
    margin: 0 0;
    padding: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    /*@apply font-sans;*/
}

/*html {*/
/*    overflow-x:hidden;*/
/*}*/

body {
    background: #EEE;
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;

    overflow-x: hidden;
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
}

/* Customize scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
    width: .6rem;
    height: .6rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 40px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
}

/* Firefox scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) #f0f0f0;
}



.scrollable-show {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
    -ms-overflow-style: auto;
}
.scrollable-show::-webkit-scrollbar {
    display: block;
    width: 6px;
}
.scrollable-show::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
    border-radius: 4px;
}
.scrollable-show::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.scrollable::-webkit-scrollbar {
    background: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.scrollable:hover {
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}
.scrollable:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
    border-radius: 4px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Chrome, Safari */
}
