@import "tailwindcss";

@theme {
    --spacing-horizontal-lg: 10rem;
    --spacing-horizontal-md: 7rem;
    --spacing-horizontal-sm: 4rem;
    /*--spacing-horizontal: 7rem;*/

    --spacing-vertical-lg: 3rem;
    --spacing-vertical-md: 2rem;
    --spacing-vertical-sm: 1rem;

    --spacing-top-nav-lg: 8rem;
    --spacing-top-nav-md: 7rem;
    --spacing-top-nav-sm: 6rem;


    --color-beige: #F0CFB5;
    --color-shifter: #008CC2;
    --color-red: #FF6F61;
    --color-dark-blue: #002E5D;
    --color-deep-green: #2C6B3D;
    --color-gold: #FFB300;
    --color-teal: #009688;
    --color-dark-gray: #666;
    --color-bright-gray: #DDDDDD;
    --color-gray: #E5E7EBFF;


    --shadow-up-sm: 0 -1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-up: 0 -1px 3px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-up-md: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -2px rgba(0, 0, 0, 0.06);
    --shadow-up-lg: 0 -10px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -4px rgba(0, 0, 0, 0.05);
    --shadow-up-xl: 0 -20px 25px -5px rgba(0, 0, 0, 0.1), 0 -10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadow-up-2xl: 0 -25px 50px -12px rgba(0, 0, 0, 0.25);


    --font-montserrat-regular: 'Montserrat', sans-serif;
    --font-montserrat-medium: 'Montserrat', sans-serif;
    --font-montserrat-semibold: 'Montserrat', sans-serif;
    --font-montserrat-bold: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("assets/fonts/Montserrat-Light.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Montserrat-Regular.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/Montserrat-Medium.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("assets/fonts/Montserrat-SemiBold.ttf") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/Montserrat-Bold.ttf") format('woff2');
}

:root {
    --color-white: #F8F8F8;
    --color-black: #111;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    background: var(--color-white);
    width: 100%;
    margin: 0 0;
    padding: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    /*@apply font-sans;*/
}

body {
    background: #EEE;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*width: 100vw;*/
    place-items: center;
    /*min-width: 320px;*/
    min-height: 100vh;
}

/* Customize scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
    width: .6rem;
    height: .6rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 40px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
}

/* Firefox scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) #f0f0f0;
}



.scrollable-show {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
    -ms-overflow-style: auto;
}
.scrollable-show::-webkit-scrollbar {
    display: block;
    width: 6px;
}
.scrollable-show::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
    border-radius: 4px;
}
.scrollable-show::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.scrollable::-webkit-scrollbar {
    background: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.scrollable:hover {
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}
.scrollable:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
    border-radius: 4px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}


/* HTML: <div class="loader"></div> */
.loader {
    /*margin-left: 20px;*/
    /*width: 40px;*/
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: var(--color-shifter);
    animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}
.loader::after {
    margin: 8px;
    animation-duration: 3s;
}
@keyframes l15{
    100%{transform: rotate(1turn)}
}
